<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>Published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post </a></h2>
            <p>This is my first blog, i will run it without any erro becaus ei am a bad ass</p>
        </div>

        <div>
            <p>Published: 14.06.2014, 12:14</p>
            <h2><a href="">My Second post </a></h2>
            <p>This is my second blog, i will run it without any erro becaus ei am a bad ass</p>
        </div>

    </body>
</html>